<a href="https://colab.research.google.com/github/anchaltyagi1/Python/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Variables**

Defining a Variable


1.   Letter or _ or cannot start with a
     no.
2.   a-z,A-Z,0-9,_

In [12]:
a=5
b=10    #no need to be in quotes because it is a no.
a=55    #reinitialize  'a'
message="Hello,World!"  #string
print(a+b)
print(5+10)
print(message)
a= str(a)  #here we are conerting no. into string
print(type(a))
a=int(a)
print(type(a))
print(a)

str1="hello world"
str2='hello'
str3= "hello'world"

Str1='HELLO'
print(str1)
print(Str1)


a,b,c=5,10,15
print(c)
print(b)
print(a)

d=e=f=50
print(e)

data=["Laurence","John","Linda"]
g,h,i=data
print(h)

65
15
Hello,World!
<class 'str'>
<class 'int'>
55
hello world
HELLO
15
10
5
50
John